boto3
configparser>=3.5
deprecated>=1.2.0
future>=0.15.0
futures
protobuf>=3.2.0,<=3.20.1
python-jose==3.2.0
pytz>=2016
requests>=2.18
rsa==4.0; python_version < '3.0'
rsa>=4.0; python_version > '3.0'
semver>=2.8.0
websocket-client>=0.57.0

# CLI
docopt>=0.6
psutil>=5.4
python-dateutil>=2.8.0
